@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
    }
  
    // For Internet Explorer
    & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

body {
    @include flexCenter($direction: column);
    @include scrollbars(10px, #2b2b2b, #7e7e7e);
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: flex-start;
    background: linear-gradient(135deg, #e671e4, #a7b659);
}

.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid black;

    .title {
        margin: 15px;
        font-size: 36px;
        font-weight: 500;
    }

    div .title {
        font-size: 30px;
        font-weight: 400;
    }

    .general-container, .education-container, .practical-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 15px;

        .input-container {
            width: calc(100% / 2 - 20px );

            input {
                height: 45px;
                width: 100%;
                border-radius: 4px;
                border: solid rgb(74, 74, 74) 1px;
                padding: 10px;
            }
        }
    }
}

.mui-button {
    height: 50%;
}